<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/platillo.css">
    <title>Menú </title>
</head>
<body>
   <header class="header-contenedor" >
       <nav class="menu-contenedor">
           <ul class="item-menu">
                <img id="logo" src="imagenes/logo.jpg"" alt="logo"/>
                <h3>Rock´s Burgues</h3>
                <li >Menu</li>
                <li >Categorias</li>
                <li>Carrito de compras</li> 
                <div class="usuario"> 
                    <img  id="usuario" src="https://img.icons8.com/ios/50/000000/contacts-filled.png">  
                    <li>Usuario</li>
                </div>
           </ul>
       </nav>
   </header> 
   <section class="banner">
        <h3 class="platillo">Platos fuertes</h3>
    </section>
    <section class="comida-1">
            <article class="hamSencilla">
                <h3>Hamburgesa sencilla <br>
                        con papas</h3> 
                  <figure>
                        <img src="../proyecto/imagenes/hamSencilla.jpg" alt="hamSencilla" id="hS">
                    </figure>
                    <p>
                    Hamburguesa de res sazonada <br>
                    con salsa de chipotle <br>
                    acompañada con vegetales frescos <br>
                    (lechuga,jitomate,cebolla <br>
                    y pepinillos) con queso que <br>
                    tipo americano,tocino y piña<br>
                    con papas a la francesa
                </p>
               <strong><label>$35.00</label></strong> 
               
            </article>
            <article class="pizza-hawallana">
                    <h3>Pizza hawallana</h3> 
                    <figure>
                        <img src="imagenes/p-hawallana.jpg" alt="pizza-hawallana" id="p-hawallana">
                    </figure>
                <p>
                    Pizza elaborada por nosotros <br>
                    con ingredientes naturales y frescos <br>
                    cubierta con dos tipos de quesos <br>
                    (gouda y mozzarella),piña natural <br>
                    y jamón de pavo
                </p>
               <strong><label>$140.00</label></strong> 
            </article>
            <article class="mexicana">
                    <h3>Hamburgesa Mexicana <br>
                        con papas</h3> 
                    <figure>
                        <img src="imagenes/mexicana.jpg" alt="mexicana" id="hm">
                    </figure>
                <p>
                    Hamburguesa con pan artesananal  <br>
                    de arrachera jugosa<br>
                    acompañada con vegetales frescos <br>
                    (lechuga,chile morron,jitomate <br>
                     ,aguacate y cebolla morada ) <br>
                    con queso blanco tipo manchego<br>
                    y papas a la francesa
                </p>
               <strong><label>$85.00</label></strong> 
            </article> 
    </section>
    <section class="comida-2">
                <article class="vegetariana">
                    <h3>Hamburgesa vegetariana <br>
                        con papas</h3> 
                    <figure>
                        <img src="imagenes/vegetariana.jpg" alt="vegetariana" id="hv">
                    </figure>
                        <p>
                            Hamburguesa con pan atesananal  <br>
                            de panela  fresca<br>
                            acompañada con vegetales frescos <br>
                            (lechuga,chile morron,jitomate <br>
                            y cebolla morada ) <br>
                            con queso blanco tipo manchego<br>
                            y papas a la francesa
                        </p>
                  <strong> <label>$65.00</label></strong> 
                </article>
        
                <article class="pizza-mexicana">
                    <h3>Hamburgesa sencilla <br>
                        con papas</h3> 
                    <figure>
                        <img src="imagenes/pizza-4.jpg" alt="pizza-mexicana" id="p-mexicana">
                    </figure>
                <p>
                    Pizza elaborada por nosotros <br>
                    con ingredientes naturales y frescos <br>
                    cubierta con dos tipos de quesos <br>
                    (gouda y mozzarella),cubierta con <br>
                    carne de pastor, cebolla fileteada <br>
                    y cilantro 
                </p>
              <strong><label>$185.00</label></strong> 
            </article>
            <article class="hawallana">
                <h3>Hamburgesa Ranchera <br>
                    con papas</h3> 
                <figure>
                    <img src="imagenes/hawallana.jpg" alt="hawallana" id="hh">
                </figure>
            <p>
                Hamburguesa con pan artesanal <br>
                de res sazonada con especias <br>
                (romero,pimienta),acompañada con <br>
                vegetales frescos <br>
                (lechuga,jitomate,cebolla y pepinillos) <br>
                y que queso tipo americano  y tocino<br>
                aros de cebolla y papas a la francesa
            </p>
           <strong><label>$70.00</label></strong> 
        </article>
    </section>
    <section class="comida-3">
            <article class="marina">
                <h3>Hamburgesa Marina  <br>
                con papas </h3>
                <figure>
                    <img src="imagenes/hMarina.jpg" alt="h-marina" id="marina">
                </figure>
                <p>
                    Hamburguesa con pan artesanal <br>
                    rellena de camarones frescos <br>
                    sazonados con(romero,pimienta), <br>
                    acompañada con vegetales frescos <br>
                    (lechuga,jitomate,cebolla) <br>
                    y que queso tipo manchego  y tocino<br>
                    papas a la francesa 
                </p>
                <strong> <label>$100.00</label> </strong>
            </article>
            <article class="m-lover">
                <h3>Hot dog Meat Lovers </h3>
                    <figure>
                        <img src="imagenes/meat-lover.jpg" alt="meat-lover" id="lover">
                    </figure>
                    <p>
                        Hot dog  con pan artesanal  <br>
                        salchida para asar <br>
                        tocino bañado en bbq <br>
                        con chile cerrano en rodajas <br>
                        acompañado con papas <br>
                        a  la francesa 
                    </p>
                    <strong> <label>$80.00</label> </strong>
            </article>
            <article class="p-tradicional">
                <h3>Pizza Tradicional </h3>
                <figure>
                    <img src="../proyecto/imagenes/pizza-2.jpg" alt="pizza-2" id="pizza2">
                </figure>
                <p>
                        Pizza elaborada por nosotros <br>
                        con ingredientes naturales y frescos <br>
                        cubierta con dos tipos de quesos <br>
                        (gouda y mozzarella),cubierta con <br>
                        peperoni 
                </p>
                <strong> <label>$115.00</label> </strong>
            </article>
    </section>
    <section class="banner-snack">
            <h3 class="snacks">Snacks</h3>
    </section>
    <section class="snacks">
        <article  class="bbq">
            <h3>Alitas Bbq </h3>
            <figure>
                <img src="imagenes/snack-4.jpg" alt="bbq" id="bbq">
            </figure>
            <p>
              Alitas de pollo bañadas <br>
              con salsa tradicional  <br>
              sabor bbq  
            </p>
            <strong> <label>$75.00</label> </strong> 
        </article>
        <article class="papas-gajo" >
            <h3>Papas Mexicanas </h3>
            <figure>
                <img src="imagenes/snack-1.jpg" alt="gajo" id="gajo">
            </figure>
            <p>
                Papas tipo gajo <br>
                cubiertas con 2 tipo de queso  <br>
                y peperoni
            </p>
            <strong> <label>$60.00</label> </strong> 
        </article>
        <article class="mexicanas" >
            <h3>Papas Mexicanas </h3>
            <figure>
                <img src="imagenes/snack-2.jpg" alt="mexicanas" id="mexicanas">
            </figure>
            <p>
                Papas a la francesa <br>
                con arrachera en trozos <br>
                y rodajas de chile serrano
            </p>
            <strong> <label>$65.00</label> </strong> 
        </article>
    </section>
    <section class="snacks-2">
        <article>
            <h3>Papas Mixta</h3>
            <figure>
                <img src="imagenes/snack-3.jpg" alt="mixtas" id="mixta">
            </figure>
            <p>
                Papas tipo gajo <br>
                bañadas con quedo y <br>
                pedasos de arrachera <br>
                cebolla y cilantro picado
            </p>
            <strong> <label>$65.00</label> </strong>   
        </article>
        <article class="a-bufalo">
            <h3>Alitas Bufalo</h3>
            <figure>
                <img src="imagenes/snack-6.jpg" alt="bufalo" id="bufalo">
            </figure>
            <p>
                Alitas de pollo empanizadas <br>
                bañadas con salsa tradicional  <br>
                picosita sabor buffalo. 
            </p>
            <strong> <label>$75.00</label> </strong>   
        </article>
        <article class="dedos">
                <h3>Dedos de Queso</h3>
                <figure>
                    <img src="../proyecto/imagenes/snack-6.jpg" alt="queso" id="dedos">
                </figure>
                <p>
                    Dedos de queso con <br>
                    tipo manchego <br>
                    acompañados de aderezo <br>
                    a elegir 
                </p>
                <strong> <label>$80.00</label> </strong>   
            </article>
    </section>
    <section class="banner-postres">
        <h3 class="postre">Postres y Bebidas</h3>
    </section>
    <section class="postres">
        <article class="crepa">
             <h3>Crepas Dulces</h3>
            <figure>
                <img src="imagenes/postre-2.jpg" alt="crepa" id="crepa">
            </figure>
                <p>
                    Crepas dulces rellenas <br>
                    de frutas a elegir entre <br>
                    nuestro menu <br>
                    acompañadas con una bola de nieve <br>
                    y crema chantilli
                </p>
                <strong> <label>$40.00</label> </strong>   
        </article> 
        <article class="malteada">
                <h3>Malteadas</h3>
               <figure>
                   <img src="../proyecto/imagenes/malteada-1.jpg" alt="malteadas" id="malteadas">
               </figure>
                   <p>
                       Malteadas de sabores <br>
                       (fresa,vainilla y chocolate) <br>
                       con una bola de chantilli.
                   </p>
                   <strong> <label>$25.00</label> </strong>   
        </article> 
        <article class="brownie">
            <h3>Brownie</h3>
            <figure>
                <img src="imagenes/postre-1.jpg" alt="malteadas" id="malteadas">
            </figure>
                <p>
                    Brownie de chocolate  <br>
                    acompañado de una bola de  <br>
                    nieve a elegir.
                </p>
            <strong> <label>$35.00</label> </strong>   
        </article>
    </section>
    <section class="postres-2">
        <article class="clericot">
            <h3>Clericot</h3>
            <figure>
                <img src="imagenes/clericot.jpg" alt="clericot" id="clericot">
            </figure>
                <p>
                    Bebida elaborada con <br>
                    vino tinto, agua mineral <br>
                    y trozos de manzana fresca
                </p>
            <strong> <label>$20.00</label> </strong> 
        </article>
        <article class="cheese">
                <h3>Cheesecake de Oreo</h3>
                <figure>
                    <img src="imagenes/postre-3.jpg" alt="oreo" id="oreo">
                </figure>
                    <p>
                        Cheesecake de galleta oreo <br>
                        con trozos de galleta 
                    </p>
                <strong> <label>$25.00</label> </strong> 
        </article>
        <article class="hotcakes">
            <h3>HotCakes</h3>
            <figure>
                <img src="imagenes/postre-4.jpg" alt="hotcakes" id="hotcakes">
            </figure>
                <p>
                    HotCakes con nieve <br>
                    de sabores a elegir <br>
                    (fresa,vainilla y chocolate) <br>
                    y una bola de chantilli
                </p>
            <strong> <label>$20.00</label> </strong>
        </article>

    </section>   
    <footer class="footer">
        <h3>Contactanos</h3> 
        <p>Lamanos al 01-800-2110-rock </p> 
    </footer>  
</body>

</html>