RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-F 

RewriteCond %{REQUEST_URI} !css/([^\s?]*)$
RewriteCond %{REQUEST_URI} !js/([^\s?]*)$
RewriteCond %{REQUEST_URI} !images/([^\s?]*)$

RewriteRule ^ index.php [QSA,L]